# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c4451dc7cc877ffd2149495bb03f25cb1979fdefb46be4ce0c72ab38f76e641af62154550b0d3716592812ac86176f5e16c73e1ab8c804e33ffd1157df4f5353

test:
  secret_key_base: 1954e30af8b604ed03074b7690e81dd4fc107d828bf8bdca7fa30bb247bf704e477a48c285247a05e57ae5d110b433ef8f0095da74465cf0de14a379d113cc26

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
